<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Логин для доступа к Segmento API -->
    <add key="SegmentoLogin" value="YourTestLogin"/>
    <!-- Пароль для доступа к Segmento API -->
    <add key="SegmentoPassword" value="YourTestPassword"/>
  </appSettings>
</configuration>